region                   = "ap-southeast-1"
github_owner             = "chiendz11"
github_repository        = "demo-app-infra"
github_plan_environment  = "infrastructure-plan"
github_apply_environment = "infrastructure"
plan_role_name           = "demo-app-infra-terraform-plan-role"
apply_role_name          = "demo-app-infra-terraform-apply-role"
managed_resource_prefix  = "demo-app-"
state_bucket_name        = "demo-app-infra-tfstate-980794397912-ap-southeast-1"
production_state_key     = "environments/production.tfstate"
owner                    = "Bui Anh Chien"
