region        = "ap-southeast-1"
vpc_cidr      = "10.30.0.0/16"
project_name  = "demo-app-prod"
instance_type = "t3.micro"
app_port      = 8080
root_domain   = "example.com"
app_subdomain = "app"
owner         = "Bui Anh Chien"
